---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Badges"
	description="Yes, I have Discord badges."
	pubDate={new Date('August 08 2021')}
	heroImage="/about.png"
>

	<p>
		See those funny PNGs (Formerly SVGs) on my profile? They're badges. I have a lot of them, which looks impressive to some people I'm sure!
		But badges were created by Discord to do one thing: Incentivise you to to do things. Usually pay them money.
		Badges can be broken down into 4 categories:
	</p>

	<h2>
		I paid Discord money
	</h2>

	<p>
		<img src="/nitro.png" style="height: 1em; margin-top: 0.25em;"> <strong>Discord Nitro</strong>
		<br>
		Everyone knows what this one is. If you pay for Discord Nitro, you get the badge. In 2025, Discord added <a href="https://support.discord.com/hc/en-us/articles/29136565881623-Evolving-Nitro-Badges">evolving styles</a> to
		the Nitro badge to encourage users to retain their subscriptions over long time periods. This badge isn't tied to the bitwise flags object, but rather a premium status & premium since parameter within the user's profile object.
		<br>
		<img src="/nitrobadges.png">
	</p>

	<p>
		<img src="/boost.png" style="height: 1em; margin-top: 0.25em;"> <strong>Server Boosting</strong>
		<br>
		-
	</p>

	<p>
		<img src="/nitrolegacy.png" style="height: 1em; margin-top: 0.25em;"> <strong>Early Supporter</strong>
		<br>
		-
	</p>

	<h2>
		Anyone can get these
	</h2>

	<p>
		<img src="/dev.png" style="height: 1em; margin-top: 0.25em;"> <strong>Active Developer</strong>
		<br>
		This badge is awarded to users who own a <a href="https://discord.com/developers/docs/quick-start/overview-of-apps">Discord App</a> that has executed a command within the past
		30 days. Discord has an article on this badge you can <a href="https://support-dev.discord.com/hc/en-us/articles/10113997751447-Active-Developer-Badge">read here</a>. This badge
		was created alongside Discord's interactions system (Slash Commands) to encourage developers to adopt it & move away from text-based commands (e.g. sending !ban in chat).
	</p>

	<p>
		<img src="/quest.png" style="height: 1em; margin-top: 0.25em;"> <strong>Completed a Quest</strong>
		<br>
		Discord's Quests system has a lot going on, so I won't talk about it here. But I have <a href="https://blog.pnly.io/discords-gamer-gamble/">written an article</a> about it.
		If you 'Complete a Quest' (Watch an ad or play a game), Discord will reward you with this badge. Interestingly, this badge (and a few others) is completely divorced from the
		bitwise flags Discord assigns to users (more on this later).
	</p>

	<p>
		<img src="/orbs.png" style="height: 1em; margin-top: 0.25em;"> <strong>Orbs Apprentice</strong>
		<br>
		Back in the day, Discoin was a running joke in the Discord-meta community. The concept of a microcurrency on Discord. But the joke is real now, and they're awarded for engaging
		in Quests. Watch an ad, play a game, get some Orbs. You can spend them on several things in Discord's Orbs storefront, one of which is this 'Orbs Apprentice' badge.
		Discord is heavily promoting the Quests & Orbs program, both to users and potential advertisers. You can read more about them <a href="https://discord.com/blog/discord-orbs">here</a>.
		This badge is also divorced from the bitwise flags.
	</p>
</Layout>
